
.News_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: #1D1E1F;
    flex: 1;
}
.News_card_img{
    border-top-right-radius: 12px;
   border-top-left-radius: 12px;
    overflow: hidden;
    width: 100%;
    height: 242px;
}
.News_card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.News_card_text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: .5rem;
    padding-left: 1rem;
}
.News_card_text p{
   padding-top: .2rem;
    color: white;
   
}

