.feature-all{
    margin-left: 4rem;
    margin-right: 4rem;
}

  .lastnewsfeatures{
    padding-top: 25px;
    padding-bottom: 12px;
  }
  @media (max-width:768px) and (min-width:425px){
    .feature-all{
        margin-left: 1rem;
         margin-right: 1rem;
    }
  }

@media (min-width:375px ) and (max-width: 425px){
    .feature-all{
        margin-left: 1rem;
         margin-right: 1rem;
    }
}
@media (min-width:320px ) and (max-width: 375px){
    .feature-all{
        margin-left: 1rem;
         margin-right: 1rem;
    }
}
@media (max-width:320px ) {
    .feature-all{
        margin-left: 1rem;
         margin-right: 1rem;
    }
}