.Movie_card-all {
    padding-bottom: 20px;
    /* padding-top: 20px; */
    position: relative;
}
.btnSlider{
    position: absolute;
    z-index:1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
}
.Movie_card {
    border-radius: 12px;
    background-color: #1D1E1F;
}
.Movie_card_img {
   border-top-right-radius: 12px;
   border-top-left-radius: 12px;
    width: 100%;
    height: 260px;
    position: relative;
}
.Movie_card_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}
.guide-esp {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: .5rem;
  top: 14.5rem;
  font-size: .8rem;
  background-color: #030D29;
  border: 1px solid #000;
  border-radius: 10px;
  width: 4rem;
  height: 4vh;
}

.Movie_card_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: .5rem;
    padding-left: 1rem;
}
.Movie_card_text hr {
    margin-top: 0.6rem;
    width: 3rem;
}
.Movie_card_text p {
    margin-top: .3rem;
    color: white;
}
.para{
    padding-bottom: 1rem;
}
@media(max-width:1024px) and (min-width:768px){
    .guide-esp{
        top: 13.5rem;
    }
}

@media (max-width:768px) and (min-width:425px){
    .Movie_card_img{
        height: 266px;
    }
    .guide-esp{
        top: 15rem;
    }
}
@media (max-width:375px) and (min-width:320px){
    .guide-esp{
        top: 14rem;
    }
}
@media (max-width:320px) and (min-width:300px){
    .guide-esp{
        top: 15rem;
    }
    .Movie_card_img{
        height: 266px;
    }
}