.Soical_card-all{
    padding-bottom: 1.9rem;
}
.Soical_card{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    border-radius: 9px;
    background-color: #1D1E1F;
    flex: 1;
}
.Social_card_img{
    border-top-right-radius: 12px;
   border-top-left-radius: 12px;
    overflow: hidden;
    width: 100%;
    height: 311px;
}
.Social_card_img img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.Soical_card_text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: .5rem;
    padding-left: 1rem;
}

.Soical_card_text p {
    margin-top: 1rem;
    color: white;
    padding-bottom: 2.4rem;
}
@media (max-width:430px) {
    .Soical_card-all{
        padding-left: .5rem;
        padding-right: .5rem;
    }
    
}

